{% extends 'base.html.twig' %}

{% block title %}Banque{% endblock %}

{% block body %}
    <h1>Banque</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ banque.id }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ banque.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ banque.nom }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ banque.region }}</td>
            </tr>
            <tr>
                <th>Departement</th>
                <td>{{ banque.departement }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ banque.commune }}</td>
            </tr>
            <tr>
                <th>Localite</th>
                <td>{{ banque.localite }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ banque.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ banque.longitude }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ banque.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ banque.email }}</td>
            </tr>
            <tr>
                <th>Heure</th>
                <td>{{ banque.heure }}</td>
            </tr>
            <tr>
                <th>Website</th>
                <td>{{ banque.website }}</td>
            </tr>
            <tr>
                <th>Services</th>
                <td>{{ banque.services }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('banque_index') }}">back to list</a>

    <a href="{{ path('banque_edit', {'id': banque.id}) }}">edit</a>

    {{ include('banque/_delete_form.html.twig') }}
{% endblock %}
